body{
    background: #E5E5E5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    text-decoration: none;
        
}
.container{
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #E5E5E5;
}
.header__block{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid ;
    padding-bottom: 20px;
}
.header__logo{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;    
    line-height: 23px;
    color: #323232;
    margin-top: 50px;

   
   
}
.header__box{
    display: flex;
}



.header__link{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323232 ;
    padding-left: 42px;
    margin-top: 50px;
}
.header__icon{
    display: flex;
    margin-left: 130px;
}
.header__icon-l{
    padding-left: 40px; 
    margin-top: 50px;
}
.fa-heart:before, .fa-user:before, .fa-magnifying-glass:before, .fa-search:before, .fa-cart-shopping:before, .fa-shopping-cart:before {
    color: black;
   }
